* {
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: aqua;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 100px 300px 100px;
  grid-template-rows: 100px 400px 100px;
  grid-template-areas:
    "header header header"
    "sidebar main section"
    "footer footer footer";
  /* grid-auto-flow: column; */
  position: relative;
  justify-content: center;
  text-align: center;
}
.content {
  background-color: silver;
  border: 1px solid;
}
.content1 {
  background-color: chocolate;
  grid-area: header;
}
.content2 {
  background-color: olive;
  grid-area: sidebar;
}
.content3 {
  background-color: coral;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content4 {
  background-color: fuchsia;
  grid-area: section;
}
.content5 {
  background-color: darkred;
  grid-area: footer;
}
