* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 200px 500px 200px 100px;
  grid-template-rows: 100px 400px;
}
.content {
  background-color: blue;
  border: 1px solid;
}
.content1 img {
  height: 100%;
}
.content1 {
  background-color: aqua;
}
